@keyframes slideDown {
    from{
        transform: translateY(-0.625rem);
        opacity: 0;
    }
    to{
        transform: translateY(0);
        opacity: 1;
    }
}

.show-cart-animation{
    animation:slideDown 0.3s ease-in-out forwards;
}